.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.circle{
    width:300px;
    height: 300px;
    background-color: tomato;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    /* animation-delay: 3s; */
    animation-fill-mode: forwards;
    box-shadow: 2px 2px 2px black;
}
.circle:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.blick{
    position: absolute;
    width: 50px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.514);
    z-index: 2;
    bottom: 50%;
    right: 55%;
    animation: blick_anim alternate infinite linear 0.7s;
}
@keyframes blick_anim {
    0%{
        opacity: 0;
        bottom: 50%;
        right: 55%;
        height: 50px;
    }
    40%{
        opacity: 0.2;
        bottom: 51%;
        right: 55%;
        height: 50px;
    }
    100%{
        opacity: 0.9;
        bottom: 52%;
        right: 55%;
        height: 50px;
        box-shadow: 5px 5px 5px grey;
    }
}
@keyframes pulse{
    0%{
        /* width:300px;
        height: 300px; */
        box-shadow: 2px 2px 20px rgb(73, 73, 73);
    }
    100%{
        box-shadow: 20px 20px 20px rgb(34, 34, 34);
        /* width:450px;
        height:450px; */
        transform:scale(1.4) skewX(2deg) translateX(5 0px);
    }

}